<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/771e6a2d5d.js" crossorigin="anonymous"></script>

</head>

<body class=" bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome: <%= user %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post">New Post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Following
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Jack</a>
                        <a class="dropdown-item" href="#">Jonathan</a>
                        <a class="dropdown-item" href="#">Ying</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../users/logout">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <!-- find all method, select * from user like % {username}, sort by desc something like this-->
            </form>
        </div>
    </nav>
    <!-- posts -->


    <div class="row mx-auto">
        <div class="col-lg-2 my-3 mx-auto">
            <div class="col border rounded py-3 text-center sticky-top bg-light">

                <h3><%= author %></h3>
                <div class="col mx-auto">
                    <img src="../../<%= avatar %>">
                </div>
                <small><%= userData.location %></small>
                <br>
                <small>user since <%= userData.createdAt.getFullYear() %></small>
                <hr>

                <a href="#">Profile</a>
                <br>
                <a href="/search/id/<%= userData.username %>">Posts</a> <!-- pass in a name -->
            </div>
        </div>
        <div class="col-lg-10">
            <div class="card shadow my-3">
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                    <h3 class="card-title"> <%= title %> </h3>
                    <hr>
                    <img src="../../<%= img %>">
                    <p class="card-text"><%- body %></p>

                    <!-- !auth -->
                    <% if (auth == false) { %>
                    <% if (likes > 1) { %>
                    <a href="/like/<%= id %>" class="btn btn-outline-primary disabled"><%= likes %> <i
                            class="far fa-thumbs-up"></i>
                    </a>
                    <% } else if (likes > 0) { %>
                    <a href="/like/<%= id %>" class="btn btn-outline-primary disabled"><%= likes %> <i
                            class="far fa-thumbs-up"></i>
                    </a>
                    <% } %>
                    <% } %>

                    <!-- if auth -->
                    <% if (auth == true) { %>
                    <a href="#comment-form" class="btn btn-secondary">Reply</a>
                    <% if (likes > 1) { %>
                    <a href="/like/<%= id %>" class="btn btn-outline-secondary"><%= likes %> <i
                            class="far fa-thumbs-up"></i>
                    </a>
                    <% } else if (likes > 0) { %>
                    <a href="/like/<%= id %>" class="btn btn-outline-secondary"><%= likes %> <i
                            class="far fa-thumbs-up"></i>
                    </a>
                    <% }  else {%>
                    <a href="/like/<%= id %>" class="btn btn-outline-secondary"><i class="far fa-thumbs-up"></i>
                    </a>
                    <% } %>
                    <% } %>
                    <small> </small>
                </div>
            </div>
            <h3 class="m-3 ml-5">Comments</h3>
            <% comments.forEach(comment => { %>
            <div class="card shadow my-1 mx-auto bg-light" style="width: 75vw">
                <div class="card-body mt-1">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-xs-2 m-0 p-0 border text-center" style="min-width: 110px;">
                                <a href="/search/id/<%= comment.content_id %>"><b><%= comment.content_id %></b></a>
                                <div class="border mx-auto" style="width: 100px; height: 100px;">
                                    <img src="../../<%= comment.avatar %>">
                                </div>
                            </div>
                            <div class="col-xs-10 pl-2">
                                <%= comment.body %>
                                <br>
                                <small><%= comment.createdAt.toDateString() %></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% return %>
            <% }) %>




            <% if (auth == true) { %>
            <div class="comment">
                <h3 class="m-3 ml-5">Post a Comment</h3>
                <div class="card shadow my-1 mx-auto bg-light" style="width: 75vw">
                    <div class="card-body">
                        <div id="comment-form">
                            <form action="/post/comment/new" method="POST">
                                <div class="form-group">
                                    <textarea class="form-control" style="display: none"
                                        name="blogid"><%= id %></textarea>
                                    <textarea class="form-control" id="commentbody" name="commentbody"
                                        rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-outline-secondary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%  } %>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>


</html>