<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/771e6a2d5d.js" crossorigin="anonymous"></script>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }

        .bg {
            /* The image used */
            background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

            /* Full height */
            height: 100%;

            object-fit: cover;
            
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body class="bg-secondary">
    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome: <%= user %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse primary" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="/homepage">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post">New Post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Following
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Jack</a>
                        <a class="dropdown-item" href="#">Jonathan</a>
                        <a class="dropdown-item" href="#">Ying</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./users/logout">Logout</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" id="search" name="search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                <!-- find all method, select * from user like % {username}, sort by desc something like this-->
            </form>
        </div>
    </nav>
<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="m-3">
                    <%= heading %>
                </div>
                <!-- posts -->

                <% posts.forEach((post) => {%>
                <div class="card shadow my-3 mx-auto" style="width: 75vw;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="card-title"> <%= post.title %> </h3>
                            </div>
                            <div class="row-xs text-left col-md-4 text-md-right">
                                <% if (post.likes > 1) { %>
                                <div class="btn btn-outline-primary disabled"><%= post.likes %> <i
                                        class="far fa-thumbs-up"></i></div>
                                <% } else if (post.likes > 0) { %>
                                <div class="btn btn-outline-primary disabled"><%= post.likes %> <i
                                        class="far fa-thumbs-up"></i></div>
                                <% } %>
                                <a href="/post/id/<%= post.id %>" class="btn btn-outline-secondary">View Full Post</a>
                            </div>
                        </div>

                        posted by - <a href="/search/id/<%= post.user_id %>"><b><%= post.user_id %></b></a>
                        -
                        <small> <%= post.createdAt.toDateString(); %></small><br>
                        <p class="card-text">
                            <% if (post.body.length > 200) { %>
                            <%- (post.body.slice(0,400)) %>...
                            <% } else { %>
                            <%- post.body %>
                        </p>
                        <%  } %>
                    </div>
                </div>
                <% return %>
                <% }) %>




            </div>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>


</html>